<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.extendreportlistener.ExtentReporterNG"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="E:/Automation Tools/FullAutomation/Assignment">
        <classes>
            <class name="com.mytest.DownloadDocumentTest">
<!--                <methods>-->
<!--                    <include name="openDocumentFilePage"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>